block vars

doctype
html( class="no-js intro" lang=lang )
  head
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge" )

    title= title

    meta( name="description" content=description )

    meta( name="apple-mobile-web-app-capable" content="yes" )
    meta( name="apple-mobile-web-app-status-bar-style" content="black" )

    //- Mobile
    meta( name="viewport" content=meta.viewport.join() )

    include ../module/social

    include ../module/favicon

    //- Stylesheets
    link( rel="stylesheet" href="/style.css" )

    script.
      var loaded,
      cleanSplash = function(){
        document.body.removeChild( document.getElementById( 'splash' ) );
        document.documentElement.classList.remove( 'play' );
        document.documentElement.classList.remove( 'ready' );
      };

      window.addEventListener( 'load', function(){
        loaded = true;
        var slashEnd = function( e ){
          if( e.target.id === 'logo' && document.documentElement.classList.contains( 'ready' ) ){
            document.body.removeEventListener( 'transitionend', slashEnd );
            cleanSplash();
          }
        };

        document.body.addEventListener( 'transitionend', slashEnd );

        window.setTimeout( function(){
          document.documentElement.classList.add( 'ready' );
          document.documentElement.classList.remove( 'intro' );
        }, 200 );
      });

      window.setTimeout( function(){
        if( loaded ){
          cleanSplash();
          return;
        }
        document.documentElement.classList.add( 'play' );
      }, 200 );

  body( class=pageType )
    //- div#fb-root
    include ../../_source/svg/defs.svg

    block header
      include ../module/header

    //-block navigation
      include ../modules/navigation

    main#main
      block content

    include ../module/layer-location

    include ../module/splash

    block script
      include ../module/script
