include ../mixin/message

header.screen-header
  h1( title=title ).screen-title!= title

  nav.screen-nav.nav-days
    ul.nav-list( role="tablist" )
      each type in [ 'Theaters', 'Info' ]
        - var panelId = 'movie-'+type.toLowerCase();
        li.nav-list-item( role="tab" aria-controls=panelId data-tab-open=( panelId === screenParams.tabId ? 'true' : null ) )!= type

div.screen-content
  if theaters
    div.screen-panel( role="tabpanel" id="movie-theaters" aria-hidden='false' )
      if theaters.length
        ul.theater-movies-list
          each theater in theaters
            unless !theater.id
              li.theater-movies-item
                include ../../_source/svg/line.svg
                article.movie
                  div.movie-infos
                    h1.movie-title
                      a( href=`/theaters/${theater.id}` )
                        != theater.name
                        if theater.address
                          br
                          small #{theater.address.street}, #{theater.address.zip} #{theater.address.city}

                    if theater.infos
                      ul.movie-infos-list
                        each info, key in theater.infos
                          if key === 'nextShowTime'
                            li.movie-infos-item( class=`movie-${key}` ) (next screening #{info.formated})
                          else
                            li.movie-infos-item( class=`movie-${key}` )!= info

                    if theater.showtimes[0].info !== 'all'
                      ul
                        each showType in theater.showtimes
                          li.movie-times
                            if showType.info !== 'all'
                              span.movie-times-info!= showType.info
                            ul.movie-times-list
                              each time in showType.times
                                li.movie-times-item
                                  if time.disabled
                                    s
                                      time( datetime=`${time.value}` )!= time.formated
                                  else
                                    time( datetime=`${time.value}` )!= time.formated
                    else
                      ul.movie-times-list.movie-times
                        each time in theater.showtimes[0].times
                          li.movie-times-item
                            if time.disabled
                              s
                                time( datetime=`${time.value}` )!= time.formated
                            else
                              time( datetime=`${time.value}` )!= time.formated
      else
        +message( "Did you know?", "There's no screening for this movie near you" )

    div.screen-panel( role="tabpanel" id="movie-info" aria-hidden='false' )

      figure.movie-artwork
        span.movie-artwork-wrapper
          img( src=`/media/poster/${imdbId}` )

      dl.info-desc.info-movie
        if runtime
          dt Runtime
          dd.movie-runtime #{runtime} min
        if rating
          dt Rating
          dd.movie-rating!= rating
        if year
          dt Year
          dd.movie-year!= year
        if genre
          dt Genre
          dd.movie-genres!= genre.join( ', ' )
        if director
          dt Director
          dd.movie-director!= director.join(', ')
        if cast
          dt Cast
          dd.movie-cast!= cast.join(', ')
        if description
          dt.movie-synopsis-title Synopsis
          dd.movie-synopsis!= description
        if trailer
          dt.movie-trailer-title Trailer
          dd
            figure.movie-trailer
              div
                iframe( width="320" height="180" src=`https://www.youtube-nocookie.com/embed/${trailer}?rel=0&amp;showinfo=0` frameborder="0" allowfullscreen )

