script.
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register( '/sw.js' );
  }

script( src="/app.js" )

script.
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.movienow.enwin.io"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u = "#{config.trackerUrl}"
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
